aws_dev_region = "aws-region-for-your-app-dev-deployment"
aws_dev_bucket = "your-code-bucket-dev-deployment"
aws_dev_stack = "name-of-your-stack-dev-deployment"
aws_dev_dbname = "name-of-your-db-dev-deployment"
aws_dev_dbuser = "user-for-your-db-dev-deployment"
aws_dev_dbpassword = "password-for-user-for-your-db-dev-deployment"
aws_dev_databucket = "bucket_name_for_users_files-dev-deployment"
aws_dev_password_salt = "salt-added-to-passwords-dev"
aws_test_region = "aws-region-for-your-app-test-deployment"
aws_test_bucket = "your-code-bucket-test-deployment"
aws_test_stack = "name-of-your-stack-test-deployment"
aws_test_dbname = "name-of-your-db-test-deployment"
aws_test_dbuser = "user-for-your-db-test-deployment"
aws_test_dbpassword = "password-for-user-for-your-db-test-deployment"
aws_test_databucket = "bucket_name_for_users_files-test-deployment"
aws_test_password_salt = "salt-added-to-passwords-test"
aws_production_region = "aws-region-for-your-app-production-deployment"
aws_production_bucket = "your-code-bucket-production-deployment"
aws_production_stack = "name-of-your-stack-production-deployment"
aws_production_dbname = "name-of-your-db-production-deployment"
aws_production_dbuser = "user-for-your-db-production-deployment"
aws_production_dbpassword = "password-for-user-for-your-db-production-deployment"
aws_production_databucket = "bucket_name_for_users_files-production-deployment"
aws_production_password_salt = "salt-added-to-passwords-production"